*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header section */

.header_hero_section{
    background-image: url(Images/Rectangle\ 19290.png);
    height: 976px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header_section{
    color: #ffffff;
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 66px;
    cursor: pointer;
   
}
.header_list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
    cursor: pointer;
}
.header_list li:hover{
    transition: all ease-in-out 0.1s ;
    transform: scaleX(1.05);
}
.header_service{
    list-style: none;
    cursor: pointer;
}
.Service{
    display: none;
}
.header_service:hover .Service{
    display: list-item;
    position: absolute;
    cursor: pointer;
}
.underline{
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
}
.underline img{
    width: 30px;
    height: 3px;
    border-radius: 34px;
    position: relative;
}
.btn_1{
    width: 152px;
    height: 58px;
    background-color: #DF6951;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-weight: lighter;
    font-size: 17px;
    cursor: pointer;
}
.btn_1:hover{
    transition: all ease-in-out 0.1s ;
    transform: scale(1.05);
}
.header_section_untill_hover{
    display: none;
}
/* Hero Section */
.hero_section{
   margin-top: 180px;
   padding-left: 185px;
}
.hero_section h1{
    font-weight: bold;
    font-size: 58px;
    color: #ffffff;
    width:631px;
    height: 272px;
}
.Hero_ul{
    font-size: 19px;
    color: #ffffff;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 100px;
    background-color:#F3F3F399 ;
    backdrop-filter: blur(10px);
    width: 844px;
    height: 102px;
    cursor: pointer;
    border-radius: 6px;
}
.people img{
    width: 182px;
    height: 36px;
}
.people{
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 13px;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.sponser{
    background-color: #F7F7F7;
    padding: 77px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 44%;
    flex-wrap: wrap;
    gap:70px;
}

/* what we offer section */
.offer{
    overflow: hidden;
    margin-bottom: 100px;
}
.offer ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}
.offer_li{
    margin-top: 250px;
}
.offer ul li:hover{
  transform: scale(1.05);

}

/* destination */
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%; 
    gap: 20px;
    overflow: hidden;
    height: 745px;
    margin-bottom: 100px;
  }

.grid-container h3{
    font-size: 18px; 
    text-transform: uppercase; 
    color: #DF6951;
    margin-top: 240px;
}
.grid-container h1{
    width: 583px; 
    font-size: 50px;
     color: #181E4B;
}
.grid-container p{
    width: 583px;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}
/* booking section */
.Booking{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    overflow: hidden;
}
.div1{
    margin-left: 150px;
}
.div1 h3{
    font-size: 18px;
    color: #DF6951;
}
.div1 h1{
    width: 458px;
    font-size: 50px;
    color: #181E4B;
}
.div1 div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* banner */
.banner{
    background-image: url(Images/Sepratir.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 399px;
    width: auto;
    margin-bottom: 200px;
}
/* Promotion */
.promotion{
    background-image: url(Images/Illustration_New2.png);
    background-position:right;
    background-repeat: no-repeat;
    height: 751px;
    width: auto;
    margin-right: 200px;
    padding: 160px 300px;
    
    
}
.promotion h3{
    font-size: 18px;
    color: #DF6951;
    text-transform: uppercase;
}
.promotion h1{
    font-size: 50px;
    color: #181E4B;
    width: 639px;

}
.promotion p{
    font-size: 16px;
    width: 574px;
    line-height: 26px;
}
.promotion ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}
.promotion ul li:hover{
    transform: scale(1.05);
    cursor: pointer;
    border-radius:20px ;
}
/*  2nd banner*/
.banner_grids{
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    height: 399px;
}
.banner1{
    background-image: url(Images/Explore\ Nature.png);    
}
.banner2{
    background-image: url(Images/Explore\ Cities.png);
}
.btn2{
    width: 176px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;

}
.btn2:hover{
    transform: scale(1.05);
}
.btn_align{
    display: flex;
    justify-content: center;
    margin-top: 250px;

}
/* trending package */
.Package{
    padding-left: 277px;
    padding-right: 277px;
    overflow: hidden;
}
.Card1{
    width: 300px;
display: flex;
flex-direction: column;
}
.flag{
    width: 196px;
    height: 196px;
    margin-top: -80px;
}
.day_people{
    display: flex;
    align-items: center;
    color: #7D7D7D;
    gap: 30px;
    margin-top: -50px;
}
.div_align{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}
.div_align img{
    width: 92px;
    height: 16px;
}
.dollar{
    display: flex;
    align-items: center;
    gap :30px;
}
.card_paragraph{
    line-height: 25px;
    font-size: 13px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}